.nav {
  display: flex;
  flex-direction: column;
  background-color: var(--surface1);
  padding: 32px;
  border-right: 1px solid var(--surface2);
}

.nav > * {
  margin: 8px 0;
  text-decoration: none;
  background: var(--surface2);
  border-radius: 4px;
  font-size: 14px;
  padding: 12px 16px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.025em;
  color: #333;
  border: 1px solid var(--surface3);
  transition: all 0.125s ease;
}

.nav > a:hover {
  background-color: var(--surface4);
}

.input {
  /* margin: 32px 0; */
  text-decoration: none;
  background: var(--surface2);
  border-radius: 4px;
  border: 1px solid var(--surface3);
  /* font-size: 14px;
  padding: 8px 16px;
  height: 28px; */
}
