html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.link {
  cursor: pointer;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fullPage {
  height: 100vh;
}

.centerText {
  text-align: center;
}

.pills {
  display: flex;
  flex-direction: row;
  padding-inline-start: 4px;
  * + * {
    padding-inline-start: 4px;
  }
  & .pill {
    border-radius: 10px;
    padding-inline: 4px;
    padding-block: 2px;
  }
  & .isPrivate {
    background-color: deeppink;
  }
  & .category {
    background-color: aqua;
  }
  & .tag {
    background-color: paleturquoise;
  }
}

.pill-item {
  list-style: none;
}
