@tailwind base;
@tailwind components;
@tailwind utilities;

// TODO: Separate links in body from headers -- headers shouldn't be the same blue probably.

/* Typography */

h1 {
  @apply text-4xl font-bold pb-4;
}
h2 {
  @apply text-3xl font-semibold pb-3;
}
h3 {
  @apply text-2xl;
}
h4 {
  @apply text-xl;
}
h5,
h6 {
  @apply text-lg;
}

p,
li {
  @apply text-base pb-1;
}

.link,
a {
  color: inherit;
  text-decoration: none;
  color: var(--link);
  display: inline-block;
  position: relative;
}
/* Animate a link on hover/focus/focus-within*/
.link::after,
a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  background-color: var(--link);
}

.link:hover::after,
.link:focus::after,
.link:focus-within::after,
a:hover::after,
a:focus::after,
a:focus-within::after {
  background-color: var(--link);
  transform: scaleX(1);
  transform-origin: bottom left;
}

sup .link,
sup a {
  text-decoration: none;
}

.link:active,
a:active {
  outline: none;
}

.link {
  cursor: pointer;
}

.logo {
  border-radius: 40%;
  padding: 20px;
  background-color: var(--link-surface1);
}

.text1 {
  color: var(--text1);
}

.text2 {
  color: var(--text2);
}

.pills {
  display: flex;
  flex-direction: row;
  padding-inline-start: 4px;
  * + * {
    padding-inline-start: 4px;
  }
  & .pill {
    border-radius: 10px;
    padding-inline: 4px;
    padding-block: 2px;
  }
  & .isPrivate {
    background-color: var(--link-surface1);
  }
  & .category {
    background-color: var(--link-surface2);
  }
  & .tag {
    background-color: var(--link-surface3);
  }
}

.wrapper {
  display: flex;
  & main {
    margin: 0 auto;
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
  }
}
