// * {
//   box-sizing: border-box;
//   margin: 0;
// }

// html {
//   block-size: 100%;
//   background-color: var(--surface1);
//   color: var(--text1);
// }

// body {
//   min-block-size: 100%;
//   font-family: system-ui, sans-serif;
//   padding: 5vmax;
//   display: grid;
//   place-content: center;
//   gap: 5vmax;
// }

// main {
//   display: flex;
//   flex-flow: row wrap;
//   align-items: center;
//   align-content: center;
//   justify-content: center;
//   gap: 10vmax 10vmin;
// }

// section {
//   display: grid;
//   gap: 2.5vh;
// }

// h1 {
//   font-weight: 100;
// }

// p {
//   max-inline-size: 35ch;
//   font-size: 1.25rem;
//   line-height: 1.5;
// }

// header {
//   display: inline-grid;
//   gap: 1ch;
// }

// form {
//   display: flex;
//   gap: 2ch;

//   & > div {
//     display: inline-flex;
//     align-items: center;
//     gap: 0.75ch;
//   }
// }

.surface-samples {
  display: grid;
  --size: 20ch;
  grid-template-columns: var(--size) var(--size);
  grid-auto-rows: var(--size);
  gap: 2ch;

  @media (width <= 480px) {
    & {
      --size: 40vw;
    }
  }

  & > * {
    border-radius: 1rem;
    display: grid;
    place-content: center;
    font-size: 3rem;
    font-weight: 200;
  }
}

.text-samples {
  display: grid;
  gap: 1.5ch;

  & > h1 {
    font-size: 2.5rem;
    display: inline-flex;
    align-items: center;
    gap: 1ch;
  }
}

.brand {
  color: var(--brand);
  background-color: var(--brand);
}

.surface1 {
  background-color: var(--surface1);
  color: var(--text2);
}

.surface2 {
  background-color: var(--surface2);
  color: var(--text2);
}

.surface3 {
  background-color: var(--surface3);
  color: var(--text1);
}

.surface4 {
  background-color: var(--surface4);
  color: var(--text1);
}

.text1 {
  color: var(--text1);
  @nest p& {
    font-weight: 200;
  }
}

.text2 {
  color: var(--text2);
}

.swatch {
  display: inline-block;
  flex-shrink: 0;
  inline-size: 1.5ch;
  block-size: 1.5ch;
  border-radius: 50%;

  &.text1 {
    background-color: var(--text1);
  }
  &.text2 {
    background-color: var(--text2);
  }
}

.rad-shadow {
  border: 1px solid hsl(var(--brand-hue) 10% 50% / 15%);
  box-shadow: 0 1rem 0.5rem -0.5rem;
  box-shadow: 0 2.8px 2.2px
      hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.03)),
    0 6.7px 5.3px
      hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.01)),
    0 12.5px 10px
      hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.02)),
    0 22.3px 17.9px
      hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.02)),
    0 41.8px 33.4px
      hsl(var(--surface-shadow) / calc(var(--shadow-strength) + 0.03)),
    0 100px 80px hsl(var(--surface-shadow) / var(--shadow-strength));
}
